<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin dashboard</title>
    <link rel="stylesheet" th:href="@{/css/AdminDashboard.css}" />
  </head>
  <body>
    <div class="btn-mod">
      <button
        th:onclick="'window.location.href=\'' + @{/admin/subject/form} + '\''"
      >
        Subject
      </button>
      <button
        th:onclick="'window.location.href=\'' + @{/admin/lesson/form} + '\''"
      >
        Lesson
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/problem/form} + '\''"
      >
        Problem
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/midterm/form} + '\''"
      >
        Midterm
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/midterm-problem/form} + '\''"
      >
        Problem midterm
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/final/form} + '\''"
      >
        Final
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/final-problem/form} + '\''"
      >
        Final Problem
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/job/form} + '\''"
      >
        Job
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/requirements/form} + '\''"
      >
        requirements
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/jobrequirement/form} + '\''"
      >
        Job Requirements
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/food/form} + '\''"
      >
        Food
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/meal/form} + '\''"
      >
        Meal
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/pet/form} + '\''"
      >
        Pet
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/decor-item/form} + '\''"
      >
        DecorItems
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/wall/form} + '\''"
      >
        Wall
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/floor/form} + '\''"
      >
        Floor
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/avatar/form} + '\''"
      >
        Avatar
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/uppercloth/form} + '\''"
      >
        Upper Cloth
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/lowercloth/form} + '\''"
      >
        Lower Cloth
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/fullcloth/form} + '\''"
      >
        Full Cloth
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/footcloth/form} + '\''"
      >
        Foot Cloth
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/headaccessories/form} + '\''"
      >
        Head Accessories
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/faceaccessories/form} + '\''"
      >
        Face Accessories
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/backaccessories/form} + '\''"
      >
        Back Accessories
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/frontaccessories/form} + '\''"
      >
        Front Accessories
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/gearaccessories/form} + '\''"
      >
        Gear Accessories
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/livingplace/form} + '\''"
      >
        Living Place
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/shopUpperCloth/form} + '\''"
      >
        Shop Upper cloth
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/shopLowerCloth/form} + '\''"
      >
        Shop Lower cloth
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/shopFullCloth/form} + '\''"
      >
        Shop Full cloth
      </button>

      <button
        th:onclick="'window.location.href=\'' + @{/admin/shopFootCloth/form} + '\''"
      >
        Shop Foot cloth
      </button>
    </div>
  </body>
</html>