<!-- Google Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<div th:fragment="header">
  <div class="header">

    <!-- Logo trái -->
    <a th:href="@{/logo}" class="logo-circle">
      <img th:src="@{/images/LogoCLS.png}" alt="Logo" class="logo-img" />
    </a>

    <div class="menu-group">
      <a th:href="@{/CampusLife/HomePage}" class="menu-btn">
        <span class="material-symbols-outlined">home</span>
        <span class="btn-label">Home</span>
      </a>
      <a th:href="@{/CampusLife/UniversityTown}" class="menu-btn">
        <span class="material-symbols-outlined">map</span>
        <span class="btn-label">Map</span>
      </a>
      <a th:href="@{/CampusLife/RegisterSubjects}" class="menu-btn">
        <span class="material-symbols-outlined">menu_book</span>
        <span class="btn-label">Register</span>
      </a>
    </div>

    <div class="circle-group">
      <a th:href="@{/notifications}" class="circle-icon">
        <span class="material-symbols-outlined">notifications</span>
        <span class="btn-label">Notifications</span>
      </a>

      <!-- Profile -->
      <a class="circle-icon">
        <span class="material-symbols-outlined">person</span>
        <span class="btn-label">Profile</span>
      </a>
    </div>

  </div>
</div>
