body {
    font-family: Arial, sans-serif;
    background: #add8e6;
    padding: 20px;
}

#subjects-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-card {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: 800px; 
}

.card-left {
    width: 260px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eee;
}

.card-left-top {
    padding: 16px;
    background: #04901e;
    color: #fff;
}

.card-left-top h2 {
    font-size: 20px;
    margin: 0 0 8px 0;
}

.card-left-top .subtitle {
    font-size: 14px;
    opacity: 0.9;
}

.card-left-bottom {
    padding: 12px 10px;
    background: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 14px;
}

.card-left-bottom .progress-text {
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin: 0 0 25px 0;
}

.card-left-bottom .card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    opacity: 0.9;
}

.card-right {
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.card-right::-webkit-scrollbar {
    width: 8px;
}

.card-right::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.card-right::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.card-right::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.lesson {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f7f7;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    color: #555;
}

.lesson.active {
    font-weight: bold;
    background: #e6f7ff;
    color: #000;
}

.play-btn {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: #fff;
    cursor: pointer;
}

.card-left-bottom h3 {
    font-size: 35px;
    margin: 0 0 -24px 0;
}

@media (max-width: 850px) {
    .course-card {
        width: 100%;
        max-width: 600px;
    }
    .card-left {
        width: 200px;
    }
}